<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <link rel="stylesheet " href="/assets/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<script type="text/javascript" src="../static/js/main.js" ></script>
<body class="loginhtml">
    <div class="log">
        <form action="/login" method="post">
            <h1>Login</h1>
            <input name="emaillog" type="email" class="feedback-input" placeholder="Email" required />
            <input name="passwordlog" type="password" class="feedback-input" placeholder="Password" autocomplete="on" required />
            <input type="submit" />
            <button class="btn" onclick="SignUp();">Sign-Up</button>
        </form>
    </div>
    <div class="sig">
        <form action="/login" method="post">
            <h1>Sign-Up</h1>
            <input name="emailsign" type="email" class="feedback-input" placeholder="Email" onkeyup='check();' required />
            <input name="username" type="text" class="feedback-input" placeholder="Username" maxlength="30" required />
            <input name="passwordsign" id="passwordsign" type="password" class="feedback-input" placeholder="Password" autocomplete="on" onkeyup='check();' required />
            <input name="confirmpassword" id="confirmpassword" type="password" class="feedback-input" placeholder="Confirm Password" autocomplete="on" onkeyup='check();' required />
            <span class="messagematch" id='message'></span><br>
            <span class="messagematch" id='message1'></span><br>
            <span class="messagematch" id='message2'></span><br>
            <span class="messagematch" id='message3'></span><br>
            <span class="messagematch" id='message4'></span><br>
            <input type="submit" class="signupinput" style="visibility: hidden;"/>
            <button class="btn" onclick="login();">Login</button>
        </form>
    </div>
</body>
</html>