* {
    margin: 0px;
    padding: 0px;
    max-height: 100vh;
    font-family: 'Varela Round', sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body.loginhtml {
    width: 100%;
    background-image: url("/assets/img/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}
/* tete de page */
section.top-page {
    background-image: url("/assets/img/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* bannières */
.landing-page {
    position: relative;
    padding: 50px 50px;
    color: white;
    font-size: 100px;
}
/* div de log + sign */
.log {
    width: 25%;
    height: 325px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 6px;
}
.sig {
    width: 35%;
    height: 600px;
    background-color: white;
    justify-content: center;
    display: none;
    align-items: center;
    margin: 250px auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 6px;
}
.btn {
    background-color: #CC6666;
    color: white;
    border: none;
    padding: 5px;
    margin: 8px 0;
    width: 30%;
    border-radius: 6px;
    cursor: pointer;
}
form {
    max-width: 80%;
    text-align: center;
}
.feedback-input {
    color: black;
    font-weight: 500;
    font-size: 18px;
    border-radius: 6px;
    line-height: 20px;
    background-color: transparent;
    border: 3px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}
.messagematch {
    margin: 20px;
}
input[type=submit] {
    background-color: #CC6666;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}
input[type=submit]:hover {
    background-color: white;
    color: #CC6666;
    border: 2px solid #CC6666;
}
/* div de log + sign */
